html {
  color: #000;
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html * {
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

html,
body {
  font-family: sans-serif;
  height: 100%;
  width: 100%; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote,
th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0; }

input,
select,
textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

del {
  text-decoration: line-through; }

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500; }

q:before,
q:after {
  content: ''; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a:hover {
  text-decoration: underline; }

ins,
a,
a:active,
a:visited,
a:link {
  text-decoration: none; }

.clearfix:after {
  display: table;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0; }

body {
  height: 100%;
  font-family: "Microsoft YaHei"; }

.clearfix3:after {
  content: "hahahah";
  background-color: red; }

body {
  font-family: "Microsoft YaHei"; }

header {
  padding-top: 0.64815rem;
  background: #f84056; }
  header .sure {
    padding: 0 0.33333rem 0 0.59259rem;
    background: #f84056; }
    header .sure h2 {
      height: 1.35185rem;
      position: relative;
      text-align: center;
      line-height: 1.35185rem;
      color: #fff;
      font-size: 16px; }
      [data-dpr="2"] header .sure h2 {
        font-size: 32px; }
      [data-dpr="3"] header .sure h2 {
        font-size: 48px; }
      header .sure h2 span {
        position: absolute;
        left: 0;
        top: 50%;
        width: 0.7037rem;
        height: 0.51852rem;
        margin-top: -0.23148rem;
        background: url(../../img/backarrow.png) no-repeat center center/0.5463rem 0.40741rem; }

.message {
  background: #f0f0f0;
  font-size: 16px;
  color: #191919;
  position: relative;
  padding: 0 0.33333rem 0 0.59259rem;
  height: 1.36111rem;
  line-height: 1.36111rem; }
  [data-dpr="2"] .message {
    font-size: 32px; }
  [data-dpr="3"] .message {
    font-size: 48px; }
  .message span {
    color: #ff4f64;
    text-align: center;
    line-height: 0.81481rem;
    position: absolute;
    right: 0.33333rem;
    top: 50%;
    width: 2.27778rem;
    height: 0.81481rem;
    border: 1px solid #ff4f64;
    border-radius: 0.13889rem;
    margin-top: -0.40741rem; }

.messagewrap .detail {
  border-top: 10px solid #f84056;
  border-bottom: 10px solid #f84056;
  padding: 0.37037rem 0.37037rem 0.18519rem 0.60185rem;
  background: #fffaf3; }
  .messagewrap .detail input {
    font-weight: 400;
    background: #fffaf3;
    color: red;
    width: 100%;
    border: none;
    height: 1.2037rem;
    line-height: 1.2037rem;
    border-bottom: 2px solid #bebbb6; }
  .messagewrap .detail input::-webkit-input-placeholder {
    color: #807c76;
    font-family: "Microsoft YaHei";
    font-size: 16px; }
    [data-dpr="2"] .messagewrap .detail input::-webkit-input-placeholder {
      font-size: 32px; }
    [data-dpr="3"] .messagewrap .detail input::-webkit-input-placeholder {
      font-size: 48px; }

.buy-wrap .buy-detail, .buy-wrap .buy-number, .buy-wrap .buy-sum, .buy-wrap .server {
  height: 1.19444rem;
  line-height: 1.19444rem;
  background: #f0f0f0;
  padding-left: 0.62963rem;
  font-size: 16px;
  border-bottom: 1px solid #b8b2b3;
  color: #1b1b1b;
  font-weight: 400; }
  [data-dpr="2"] .buy-wrap .buy-detail, [data-dpr="2"] .buy-wrap .buy-number, [data-dpr="2"] .buy-wrap .buy-sum, [data-dpr="2"] .buy-wrap .server {
    font-size: 32px; }
  [data-dpr="3"] .buy-wrap .buy-detail, [data-dpr="3"] .buy-wrap .buy-number, [data-dpr="3"] .buy-wrap .buy-sum, [data-dpr="3"] .buy-wrap .server {
    font-size: 48px; }
.buy-wrap .buy-sum {
  background: #fff;
  position: relative; }
  .buy-wrap .buy-sum span {
    position: absolute;
    right: 1.25926rem;
    color: #ff4f64; }
.buy-wrap .buy-number {
  position: relative;
  background: #fff; }
  .buy-wrap .buy-number .minus, .buy-wrap .buy-number .add, .buy-wrap .buy-number .counts {
    text-align: center;
    line-height: 0.7037rem;
    position: absolute;
    top: 0.25rem;
    height: 0.7037rem;
    width: 0.7037rem;
    border: 1px solid #b8b2b3;
    font-size: 28px;
    color: #ff4f64; }
    [data-dpr="2"] .buy-wrap .buy-number .minus, [data-dpr="2"] .buy-wrap .buy-number .add, [data-dpr="2"] .buy-wrap .buy-number .counts {
      font-size: 56px; }
    [data-dpr="3"] .buy-wrap .buy-number .minus, [data-dpr="3"] .buy-wrap .buy-number .add, [data-dpr="3"] .buy-wrap .buy-number .counts {
      font-size: 84px; }
  .buy-wrap .buy-number .minus {
    right: 2.57407rem;
    line-height: 0.59259rem; }
  .buy-wrap .buy-number .add {
    right: 0.64815rem; }
  .buy-wrap .buy-number .counts {
    right: 1.42593rem;
    width: 1.05556rem;
    font-size: 18px;
    color: #181818; }
    [data-dpr="2"] .buy-wrap .buy-number .counts {
      font-size: 36px; }
    [data-dpr="3"] .buy-wrap .buy-number .counts {
      font-size: 54px; }
.buy-wrap .imgshow {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-left: 0.62963rem;
  border-bottom: 1px solid #b8b2b3;
  height: 2.31481rem;
  width: 18.51852rem; }
  .buy-wrap .imgshow img {
    width: 1.94444rem;
    height: 1.66667rem; }
  .buy-wrap .imgshow span {
    position: absolute;
    left: 2.92593rem;
    top: 0.40741rem;
    color: #656361;
    font-size: 14px; }
    [data-dpr="2"] .buy-wrap .imgshow span {
      font-size: 28px; }
    [data-dpr="3"] .buy-wrap .imgshow span {
      font-size: 42px; }
  .buy-wrap .imgshow em {
    position: absolute;
    left: 3.01852rem;
    top: 1.12963rem;
    color: #656361;
    font-size: 14px; }
    [data-dpr="2"] .buy-wrap .imgshow em {
      font-size: 28px; }
    [data-dpr="3"] .buy-wrap .imgshow em {
      font-size: 42px; }

footer {
  position: relative;
  height: 1.48148rem;
  line-height: 1.48148rem;
  font-size: 16px;
  padding-left: 0.62963rem; }
  [data-dpr="2"] footer {
    font-size: 32px; }
  [data-dpr="3"] footer {
    font-size: 48px; }
  footer span {
    color: #ff4f64; }
  footer .pay {
    position: absolute;
    right: 0.51852rem;
    top: 0.35185rem;
    width: 2.74074rem;
    height: 0.83333rem;
    line-height: 0.83333rem;
    background: #ff4f64;
    color: #fff;
    text-align: center;
    border-radius: 0.16667rem; }
